/* AboutMe.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    color: #333;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #ffffff;
    min-height: 45rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .textContainer {
    text-align: left;
    max-width: 45vw;
    width: 100%;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.8rem;
  }
  
  .paragraph {
    font-size: 1.7rem;
    line-height: 1.5;
    margin-bottom: 0.8rem;
    font-weight: 400;
  }
  
  /* Responsive styling for mobile screens */
  @media (max-width: 768px) {
    .container {
        text-align: center;
        min-height: auto;
    }

    .textContainer {
        max-width: 90rem; /* Allows more width on smaller screens */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textContainer .title {
        font-size: 2rem;
        padding-bottom: 0rem;
    }

    .paragraph {
        font-size: 1rem;
        padding-top: 0rem;
        line-height: 1.6;
        text-align: center;
    }
}