.container {
  max-width: 60vw;
  margin: 0 auto;
  padding: 1rem;
  font-family: Roboto, Arial, sans-serif;
  color: #333;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 1rem;
  }
  
  .title, .grid, .card, .cardDescription {
    text-align: left;
  }
  
  .grid {
    justify-items: start;
  }
}

.title {
  font-size: 2.5rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.card {
  padding: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.cardTitleContainer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.cardLogo {
  width: 1.5rem;
  height: 1.5rem;
}

.cardDescription {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  flex-grow: 1;
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.cardLink:hover .card {
  transform: scale(1.05);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin-top: 0.5rem;
}

.tag {
  background-color: #e0e0e0;
  color: #333;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
}
